<div class="mt-4 col-8 offset-2">

  <div class="card">
    <div class="card-header">{{'web.Register' | translate}}</div>
    <div class="card-body">

      <app-alert *ngIf="messages.length > 0 "
                 [alertData]="messages"
                 [alertStatus]="status">
      </app-alert>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

        <div class="form-group row">
          <label class="col-md-3 col-form-label">{{'web.Name'| translate}}</label>
          <div class="col-md-9">
            <input type="text" name="name" class="form-control"
                   placeholder="{{'web.Name'| translate}}"
                   formControlName="name" required>
            <app-validation-error message="{{'validate.required' | translate:{'attribute':'Name'} }}"
                                  [forControlName]="rf.name"
                                  [validateName]="'required'">
            </app-validation-error>
          </div>
        </div>


        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">{{'web.Email'| translate}}</label>
          <div class="col-md-9">
            <input type="email" name="email" class="form-control" id="email" placeholder="{{'web.Email'| translate}}"
                   formControlName="email" required>
            <app-validation-error message="{{'validate.required' | translate:{'attribute':'Email'} }}"
                                  [forControlName]="rf.email"
                                  [validateName]="'required'">
            </app-validation-error>
            <app-validation-error message="{{'validate.valid' | translate:{'attribute':'Email'} }}"
                                  [forControlName]="rf.email"
                                  [validateName]="'email'">
            </app-validation-error>

          </div>
        </div>


        <div class="form-group row">
          <label for="pass" class="col-md-3 col-form-label">{{'web.Password'| translate}}</label>
          <div class="col-md-9">
            <input type="password" name="password" class="form-control" id="pass"
                   placeholder="{{'web.Password'| translate}}"
                   formControlName="password" required>
            <app-validation-error message="{{'validate.required' | translate:{'attribute':'Password'} }}"
                                  [forControlName]="rf.password"
                                  [validateName]="'required'">
            </app-validation-error>
            <app-validation-error message="{{'validate.minlength' | translate:{'attribute':'Password'} }}"
                                  [forControlName]="rf.password"
                                  [validateName]="'minlength'">
            </app-validation-error>

          </div>
        </div>

        <div class="form-group row">
          <label for="confirmPassword" class="col-md-3 col-form-label">{{'web.Confirm Password'| translate}}</label>
          <div class="col-md-9">
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                   placeholder="{{'web.Confirm Password'| translate}}"
                   formControlName="confirmPassword" required>
            <app-validation-error message="{{'validate.required' | translate:{'attribute':'Confirm Password'} }}"
                                  [forControlName]="rf.confirmPassword"
                                  [validateName]="'required'">
            </app-validation-error>
            <app-validation-error message="{{'validate.minlength' | translate:{'attribute':'Confirm Password'} }}"
                                  [forControlName]="rf.confirmPassword"
                                  [validateName]="'minlength'">
            </app-validation-error>


          </div>


          <div class="error" *ngif="registerForm.get('confirmPassword').errors &&
   registerForm.get('confirmPassword').errors.ConfirmPassword">
            Passsword and ConfirmPassword didn't match.
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-6" style="margin:5px">

            <button type="submit" class="btn btn-block btn-primary"
                    [disabled]="!registerForm.valid">{{'Sign Up'| translate}}</button>
          </div>
          <div class="col-sm-5" style="margin:5px">
            <a routerLink="/login" class="btn btn-info float-right">{{'Sign in'| translate}}</a>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
