<ngx-spinner
  bdColor = rgba(51,51,51,0.5)
  size = "medium"
  color = "#ca3232"
  type = "line-spin-fade-rotating"
  [fullScreen] = "true"
>
  <p style="color: white" > {{'Loading...' | translate}} </p>
</ngx-spinner>
<router-outlet></router-outlet>

