
<app-header></app-header>

<!-- Begin page content -->
<section class="wrapper">

  <div class="container-fluid col-10 mt-2">
    <router-outlet></router-outlet>
  </div>
<!--  <app-footer></app-footer>-->
</section>

