
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Products</h3>
          </div>
          <div class="col text-right">
            <a class="btn btn-sm btn-primary" routerLink="add"> + {{'Add' | translate}}</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr>
            <th scope="col">Photo</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Delete/Edit</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">
              <img src="{{baseUrl}}{{product.media.directory}}" height="50" alt="">
            </th>
            <td>
              {{product.title}}
            </td>
            <td>
              {{product.content}}
            </td>
            <td>
              {{product.price}}
            </td>
            <td>
              <a mat-raised-button color="primary" [routerLink]="['edit', product.id]" aria-label="Edit" class="mr-4">
                <mat-icon>create</mat-icon>
              </a>
              <button mat-raised-button color="warn" (click)="delete(product)" aria-label="Delete">
                <mat-icon>delete</mat-icon>
              </button>

            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

