<!--<span class="text-danger"
      *ngIf="( forControlName.dirty ||
      forControlName.touched) &&
      forControlName.invalid &&
      forControlName.errors[validateName]">
                       {{message}}
                    </span>-->

<mat-error    *ngIf="( forControlName.dirty ||
      forControlName.touched) &&
      forControlName.invalid &&
      forControlName.errors[validateName]">
  {{message}}
</mat-error>
