<section class="wrapper">
  <app-navbar></app-navbar>
  <div class="container mt5">

    <div class="page-wrapper">

      <router-outlet></router-outlet>


    </div>

  </div>
  <app-footer></app-footer>
</section>
