  <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="#">Bircom</a>
  <div class="">

    <a class="navbar-brand" routerLink="/login" *ngIf="!loggedIn">{{'Login' | translate}}</a>
    <a class="navbar-brand" routerLink="/signUp" *ngIf="!loggedIn">{{'Register' | translate}}</a>
    <a class="navbar-brand" (click)="logout()" *ngIf="loggedIn">{{'Logout' | translate}}</a>

    <div class="navbar-brand" *ngIf="loggedIn">
      <div *ngIf="role == 1">
        <a routerLink="/dashboard" *ngIf="loggedIn">{{'Profile' | translate}}</a>
      </div>
      <div *ngIf="role == 2">
        <a routerLink="/admin/profile" *ngIf="loggedIn">{{'Profile' | translate}}</a>
      </div>
    </div>

  </div>
</nav>
