<!--Multiple upload -->
<ng-container *ngIf="isMultiple; else oneUpload">
  <ng-container *ngIf="buttonType === null">

    <button mat-raised-button color="primary" class="float-right"
            ngfSelect
            [multiple]="maxUploadFile"
            type="file"
            [(files)]="files"
            [accept]="accept"
            [maxSize]="maxSize"
            [(lastInvalids)]="lastInvalids"
            (fileChange)="uploadFiles(files)">
      <mat-icon>backup</mat-icon>
      {{'web.Upload File' | translate}}
    </button>

  </ng-container>

  <div class="alert alert-danger" *ngIf="lastInvalids?.length">
    <h3>{{'web.Invalid Selected Files size' | translate}}</h3>
  </div>
</ng-container>

<!--Multiple upload finish-->

<!--one upload start-->
<ng-template #oneUpload>
  <ng-container *ngIf="buttonType === null">
    <button mat-raised-button color="primary" class="float-right"
            ngfSelect
            type="file"
            [(file)]="file"
            [accept]="accept"
            [maxSize]="maxSize"
            [(lastInvalids)]="lastInvalids"
            (fileChange)="uploadFile(file)">
      <mat-icon>backup</mat-icon>
      {{'web.Upload File' | translate}}
    </button>
  </ng-container>

  <ng-container *ngIf="buttonType === 'uploadPhoto'">
    <button mat-raised-button color="primary" class="float-right"
            ngfSelect
            type="file"
            [(file)]="file"
            [accept]="accept"
            [maxSize]="maxSize"
            [(lastInvalids)]="lastInvalids"
            (fileChange)="uploadFile(file)">
      <mat-icon>backup</mat-icon>
      {{'web.Upload Photo' | translate}}
    </button>
  </ng-container>

  <ng-container *ngIf="buttonType === 'imageUpload'">
    <button mat-raised-button color="accent"
            matTooltip="{{'web.Add Image' | translate}}"
            matTooltipPosition="above"
            class="float-left mt-4"
            ngfSelect
            type="file"
            [(file)]="file"
            [accept]="accept"
            [maxSize]="maxSize"
            [(lastInvalids)]="lastInvalids"
            (fileChange)="uploadFile(file)">
      <mat-icon>photo</mat-icon>
    </button>

  </ng-container>
  <ng-container *ngIf="buttonType === 'audioUpload'">

    <button mat-raised-button color="accent" class="float-right mt-4"
            matTooltip="{{'web.Add Audio' | translate}}"
            matTooltipPosition="above"
            ngfSelect
            type="file"
            [(file)]="file"
            [accept]="accept"
            [maxSize]="maxSize"
            [(lastInvalids)]="lastInvalids"
            (fileChange)="uploadFile(file)">
      <mat-icon>audiotrack</mat-icon>
    </button>
  </ng-container>

  <div class="alert alert-danger" *ngIf="lastInvalids?.length">
    <h3>{{'web.Invalid Selected Files size' | translate}}</h3>
  </div>
</ng-template>
<!--one  upload finish-->

