<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Orders</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr>
            <th scope="col">#No</th>
            <th scope="col">Photo</th>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
            <th scope="col">Address</th>
            <th scope="col">Payment</th>
            <th scope="col">User Name</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders; let i=index">
            <td>
              {{i + 1}}
            </td>
            <td>
              <img src="{{baseUrl}}{{order.product?.media?.directory}}" height="50" alt="">
            </td>
            <td>
              {{order.product.title}}
            </td>
            <td>
              {{order.amount}}
            </td>
            <td>
              {{order.address}}
            </td>
            <td>
              {{order.payment}}
            </td>
            <td>
              {{order.user.name}}
            </td>
            <td>
              <span class="badge badge-warning" *ngFor="let status of order.status">
                  {{status.status}}
              </span>

            </td>
            <td>
              <a mat-raised-button color="primary" [routerLink]="['/admin/orders/edit', order.id]" aria-label="Edit" class="mr-4">
                <mat-icon>create</mat-icon>
              </a>
              <button mat-raised-button color="warn" (click)="delete(order)" aria-label="Delete">
                <mat-icon>delete</mat-icon>
              </button>

            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

