<header>
  <!-- Fixed navbar -->

    <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="#">Bircom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
   <!--     <li class="nav-item">
          <a class="nav-link" [routerLink]="['/templates']" routerLinkActive="active">Templates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/games']" routerLinkActive="active">Basket</a>
        </li>-->




      </ul>
      <a class="navbar-brand"  routerLink="/admin/orders"  *ngIf="loggedIn && role === '2'">{{'Orders' | translate}}</a>
      <a class="navbar-brand"  routerLink="/dashboard"  *ngIf="loggedIn && role === '1'">{{'Products' | translate}}</a>
      <a class="navbar-brand"  routerLink="/admin/products"  *ngIf="loggedIn && role === '2'">{{'Products' | translate}}</a>
      <a class="navbar-brand" routerLink="/login" *ngIf="!loggedIn">{{'Login' | translate}}</a>
      <a class="navbar-brand" routerLink="/signUp" *ngIf="!loggedIn">{{'Register' | translate}}</a>
      <a class="navbar-brand" (click)="logout()" *ngIf="loggedIn">{{'Logout' | translate}}</a>


      <div class="navbar-brand" *ngIf="loggedIn">
        <div *ngIf="role === 1">
          <a routerLink="/dashboard" *ngIf="loggedIn">{{'Profile' | translate}}</a>
        </div>
        <div *ngIf="role === 2">
          <a routerLink="/admin/profile" *ngIf="loggedIn">{{'Profile' | translate}}</a>
        </div>
      </div>
    </div>
  </nav>
</header>
