<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="col-3 float-left" *ngFor="let product of products">
        <mat-card class="example-card">
          <mat-card-header>
            <h2>{{product.title}}</h2>
          </mat-card-header>
          <img mat-card-image src="{{baseUrl}}{{product.media.directory}}" alt="">
          <mat-card-content style=" overflow: hidden">
            <p>
              {{product.content}}
            </p>test
            <p>
              {{product.price}} $
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent" (click)="addBasket(product)">
              <mat-icon>shopping_basket</mat-icon>
              Add Basket
            </button>
            <input type="number" (keyup)="change($event,product)" class="form-control" style="">
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
    <div class="col-2">
      <h1>Basket</h1>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let basket of baskets; let i=index;">
          <span matBadge="{{basket.total}}" matBadgeOverlap="false">{{basket.title}}</span>
        </mat-list-item>
      </mat-list>

      <button mat-button color="primary" [routerLink]="['/baskets']" *ngIf="baskets.length > 0">Go My Basket</button>
    </div>
  </div>
</div>
