<div class="mt-4 col-8 offset-2">

  <div class="card">
    <div class="card-header">{{'web.Add Product' | translate}}</div>
    <div class="card-body">

      <app-alert *ngIf="messages.length > 0 "
                 [alertData]="messages"
                 [alertStatus]="status">
      </app-alert>

      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" >

        <div class="form-group row">
          <label class="col-md-3 col-form-label">{{'web.Title'| translate}}</label>
          <div class="col-md-9">
            <input type="text" name="title" class="form-control"
                   placeholder="{{'web.Title'| translate}}"
                   formControlName="title" required>
            <app-validation-error message="{{'validate.required' | translate:{'attribute':'Title'} }}"
                                  [forControlName]="rf.title"
                                  [validateName]="'required'">
            </app-validation-error>
          </div>
        </div>


        <div class="form-group row">
          <label for="description" class="col-sm-3 col-form-label">{{'web.Description'| translate}}</label>
          <div class="col-md-9">

            <textarea name="" formControlName="content"  id="description" class="form-control"  cols="30" rows="10"></textarea>
            <app-validation-error message="{{'validate.required' | translate:{'attribute':'Description'} }}"
                                  [forControlName]="rf.content"
                                  [validateName]="'required'">
            </app-validation-error>

          </div>
        </div>


        <div class="form-group row">
          <label for="pass" class="col-md-3 col-form-label">{{'web.Price'| translate}}</label>
          <div class="col-md-9">
            <input type="number" name="price" class="form-control" id="pass"
                   placeholder="{{'web.Price'| translate}}"
                   formControlName="price" required>
            <app-validation-error message="{{'validate.required' | translate:{'attribute':'Price'} }}"
                                  [forControlName]="rf.price"
                                  [validateName]="'required'">
            </app-validation-error>

          </div>
        </div>

        <div class="form-group row">
          <label for="file">File</label>
          <input
            formControlName="file"
            id="file"
            type="file"
            class="form-control"
            (change)="onFileChange($event)">

          <app-validation-error message="{{'validate.required' | translate:{'attribute':'File'} }}"
                                [forControlName]="rf.file"
                                [validateName]="'required'">
          </app-validation-error>
        </div>



        <div class="form-group row">
          <div class="col-sm-6" style="margin:5px">

            <button type="submit" class="btn btn-block btn-primary"
                    [disabled]="!productForm.valid">{{'Add'| translate}}</button>
          </div>


        </div>

      </form>
    </div>
  </div>
</div>
